<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="LogInAndOutTestNG">
    <classes>
      <class name="ampeg.LoginAndLogoutTest"/>
    </classes>
  </test> <!-- LogInAndOutTestNG -->
</suite> <!-- Suite -->
